<h1>Search Forum</h1>

<h3>Search Topics</h3>
<%= render(partial: "forums/topics/search") %>

<h3>Search Posts</h3>
<%= render(partial: "forums/posts/search") %>

<%= render(partial: "secondary_links") %>

<% content_for(:page_title) do %>
  Search Forum
<% end %>
