

.diff-list {
  .added, .added a {
    color: $diff-added-color !important;
    text-decoration: none;
    margin-right: 0.5em;
  }

  .added.obsolete, .added.obsolete a {
    color: $diff-added-obsolete-color !important;
    text-decoration: line-through;
  }

  .removed, .removed a {
    color: $diff-removed-color !important;
    text-decoration: none;
    margin-right: 0.5em;
  }

  .removed.obsolete, .removed.obsolete a {
    color: $diff-removed-obsolete-color !important;
    text-decoration: line-through;
  }
}

.diff-list {
  ins, ins a {
    color: $diff-added-color !important;
    text-decoration: none;
    margin-right: 0.5em;
  }

  del, del a {
    color: $diff-removed-color !important;
    text-decoration: none;
    margin-right: 0.5em;
  }

  ins.obsolete, ins.obsolete a {
    color: $diff-added-obsolete-color !important;
    text-decoration: line-through;
  }

  del.obsolete, del.obsolete a {
    color: $diff-removed-obsolete-color !important;
    text-decoration: line-through;
  }
}
