<div class="guest-warning" style="display: none;">
  <div class="guest-warning-dialog">
    <h1 class="dialog-header">Over 18?</h1>
    <div class="dialog-content">
    <p>
      You must be over the age of 18 to access this site.
    </p>
    </div>
    <div class="dialog-footer">
      <button id="guest-warning-accept">I am 18 or older</button>
      <button id="guest-warning-decline">I am under 18</button>
    </div>
  </div>
</div>
