<div id="c-static">
  <div id="a-contact">
    <h1>Contact</h1>

    <h2>Questions &amp; Comments</h2>

    <p>You can reach us by one of several methods.</p>
    <ul>
      <li>Send an email to <%= mail_to Danbooru.config.contact_email, nil, :encode => :hex %>.</li>
      <li>Send a dmail to <%= link_to("Donovan_DMC", new_dmail_path(:dmail => {:to_id => 1})) %></li>
      <li>Join our <%= link_to("Discord Server", discord_get_path)%></li>
    </ul>
  </div>
</div>

<% content_for(:page_title) do %>
  Contact
<% end %>
