<div class="dtext-container">
<%= format_text(@page.body, allow_color: true) %>
</div>

<%= render(partial: "static/wiki_edit_link", locals: { wiki: @page }) %>
<% content_for(:page_title) do %>
  Rules
<% end %>
