<div class="single-forum-post list-of-forum-posts">
  <h1>Topic: <%= @forum_topic.title %></h1>
  <%= render("forum_post", forum_post: @forum_post, original_forum_post_id: @forum_topic.original_post.id) %>
</div>

<%= render("forums/topics/secondary_links") %>

<% content_for(:page_title) do %>
  Forum Post
<% end %>
